ul{
    list-style: none;
    font-size: 20px;
}

.main li span:hover {
    text-decoration: underline;
    
}

li ul{
    display:none;
}

li:hover ul ul{
    display:none;
    text-decoration: none;
    }
    
li:hover ul{
    display:block;
    color: #A6968F;
    text-decoration: none;
    }