body
   background-color: lighten(gray, 45%)

#mainHead
   text-align: center;

ul
   text-align: center;
   list-style: none
   &>li:last-child
      text-decoration: underline;

a
   text-decoration: none;

.current
   background-color: lightgray

ul li>a, h1
   color: white

footer p
   font-size: 12px
   &>a
      color: black

#bottom
   text-align: center;
