#wrapper
   padding: 0px
   margin: -10px

th
   background-color: lightgreen
   color: white
   font-weight: normal
   font-size: 16px

table
   background-color: #E5DFC9
      td:last-type
      border-bottom: 1px solid black

table th, td
   border-right:1px solid black

table tr:nth-child(2n+1)
   background-color: white

.flag
   border: none
